wp-options.kpf
src/lib/scripts/cache/*.*

/src/404.php
/src/archive.php
/src/archives.php
/src/comments-popup.php
/src/comments.php
/src/footer.php
/src/header.php
/src/image.php
/src/index.php
/src/lib/pages/instructions.php
/src/links.php
/src/page.php
/src/rtl.css
/src/screenshot.png
/src/search.php
/src/sidebar.php
/src/single.php