
/* Containers
----------------------------------------------------------------------------------------------------*/
.container_12 {
	margin-left: auto;
	margin-right: auto;
	width: 780px;
	
	
}

/* Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/

.alpha {
	margin-left: 0 !important;
}

.omega {
	margin-right: 0 !important;
}



/* Grid >> Global
----------------------------------------------------------------------------------------------------*/
 
.grid_1, 
.grid_2, 
.grid_3, 
.grid_4, 
.grid_5, 
.grid_6, 
.grid_7, 
.grid_8, 
.grid_9, 
.grid_10, 
.grid_11, 
.grid_12,.grid_12{
	display:inline;
	float: left;
	position: relative;
	margin-left: 10.0px;
	margin-right: 10.0px;
}


/* Grid >> 2 Columns
----------------------------------------------------------------------------------------------------*/

.container_12 .grid_1{
	width:45px;
}

.container_12 .grid_2{
	width:110px;
}

.container_12 .grid_3{
	width:175px;
}

.container_12 .grid_4{
	width:240px;
}

.container_12 .grid_5{
	width:305px;
}

.container_12 .grid_6{
	width:370px;
}

.container_12 .grid_7{
	width:435px;
}

.container_12 .grid_8{
	width:500px;
}

.container_12 .grid_9{
	width:565px;
}

.container_12 .grid_10{
	width:630px;
}

.container_12 .grid_11{
	width:695px;
}

.container_12 .grid_12{
	width:760px;
}





/* Prefix Extra Space >> 2 Columns
----------------------------------------------------------------------------------------------------*/

    .container_12 .prefix_1 {
	padding-left:65px;
}

    .container_12 .prefix_2 {
	padding-left:130px;
}

    .container_12 .prefix_3 {
	padding-left:195px;
}

    .container_12 .prefix_4 {
	padding-left:260px;
}

    .container_12 .prefix_5 {
	padding-left:325px;
}

    .container_12 .prefix_6 {
	padding-left:390px;
}

    .container_12 .prefix_7 {
	padding-left:455px;
}

    .container_12 .prefix_8 {
	padding-left:520px;
}

    .container_12 .prefix_9 {
	padding-left:585px;
}

    .container_12 .prefix_10 {
	padding-left:650px;
}

    .container_12 .prefix_11 {
	padding-left:715px;
}

    .container_12 .prefix_12 {
	padding-left:780px;
}



/* Suffix Extra Space >> 2 Columns
----------------------------------------------------------------------------------------------------*/

    .container_12 .suffix_1 {
	padding-right:65px;
}

    .container_12 .suffix_2 {
	padding-right:130px;
}

    .container_12 .suffix_3 {
	padding-right:195px;
}

    .container_12 .suffix_4 {
	padding-right:260px;
}

    .container_12 .suffix_5 {
	padding-right:325px;
}

    .container_12 .suffix_6 {
	padding-right:390px;
}

    .container_12 .suffix_7 {
	padding-right:455px;
}

    .container_12 .suffix_8 {
	padding-right:520px;
}

    .container_12 .suffix_9 {
	padding-right:585px;
}

    .container_12 .suffix_10 {
	padding-right:650px;
}

    .container_12 .suffix_11 {
	padding-right:715px;
}

    .container_12 .suffix_12 {
	padding-right:780px;
}



/* Push Space >> 2 Columns
----------------------------------------------------------------------------------------------------*/

    .container_12 .push_1 {
	left:65px;
}

    .container_12 .push_2 {
	left:130px;
}

    .container_12 .push_3 {
	left:195px;
}

    .container_12 .push_4 {
	left:260px;
}

    .container_12 .push_5 {
	left:325px;
}

    .container_12 .push_6 {
	left:390px;
}

    .container_12 .push_7 {
	left:455px;
}

    .container_12 .push_8 {
	left:520px;
}

    .container_12 .push_9 {
	left:585px;
}

    .container_12 .push_10 {
	left:650px;
}

    .container_12 .push_11 {
	left:715px;
}

    .container_12 .push_12 {
	left:780px;
}





/* Pull Space >> 2 Columns
----------------------------------------------------------------------------------------------------*/

    .container_12 .pull_1 {
	right:65px;
}

    .container_12 .pull_2 {
	right:130px;
}

    .container_12 .pull_3 {
	right:195px;
}

    .container_12 .pull_4 {
	right:260px;
}

    .container_12 .pull_5 {
	right:325px;
}

    .container_12 .pull_6 {
	right:390px;
}

    .container_12 .pull_7 {
	right:455px;
}

    .container_12 .pull_8 {
	right:520px;
}

    .container_12 .pull_9 {
	right:585px;
}

    .container_12 .pull_10 {
	right:650px;
}

    .container_12 .pull_11 {
	right:715px;
}

    .container_12 .pull_12 {
	right:780px;
}




/* Clear Floated Elements
----------------------------------------------------------------------------------------------------*/


.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}


.clearfix:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}