/*
Framework: WpOptions
Framework URI: http://github.com/zetta/wp-options
Description: OpenSource Framework for WordPress
Version: 2.0
Backend Author: Zetta
Backend Author URI: http://zettaweb.com/
Design Author: Mauricio Caballero
Design Author URI: http://mauriciocaballero.com

*/
@import url("gs.reset.css");
@import url("gs.text.css");
@import url("gs.css");
@import url("elements.css");
@import url("structure.css");
@import url("shadowbox.css");
@import url("uploadify.css");
@import url("jquery-ui-1.8.5.custom.css");
@import url("colorpicker.css");